<!DOCTYPE html>
<html lang="id" ng-app="gameApp">
<head>
	<title></title>
	<meta charset="utf-8" /> 
	
	<!-- Bootstrap -->
	<link href="css/bootstrap.min.css" rel="stylesheet" />
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5
		elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the
		page via file:// -->
		<!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
		<script src="js/respond.min.js"></script>
		<![endif]-->
</head>
<body ng-controller="MCQGameCtrl">
<!-- 	<div data-ng-view></div>	
	<p ng-bind="variable"></p>
 -->	
	 <ul>
	 	<li data-ng-repeat="question in quizQuestions">
			{{question.question}}
			<form action="">
					<input type="button" ng-click="checkAnswer(question, 1)" ng-disabled="question.isDisabled" value="{{question.Answer1}}" />
					<input type="button" ng-click="checkAnswer(question, 2)" ng-disabled="question.isDisabled" value="{{question.Answer2}}" />
					<input type="button" ng-click="checkAnswer(question, 3)" ng-disabled="question.isDisabled" value="{{question.Answer3}}" />
					<input type="button" ng-click="checkAnswer(question, 4)" ng-disabled="question.isDisabled" value="{{question.Answer4}}" />
			</form>
			{{question.status}}
		</li>
	</ul>

	<!-- jQuery - required for Bootstrap's JavaScript plugins) -->
	<script src="js/jquery.min.js"></script>
	<!-- All Bootstrap plug-ins file -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Basic AngularJS -->
	<script src="js/angular.min.js"></script>
	<script src="js/angular-route.min.js"></script>
	<script src="js/app.js"></script>
</body>
</html>