
							<div class="row">
									<div class="col-lg-4 text-right"><img src="img/koala.jpg" height="100" width="100"></div>
									<div class="col-lg-8 text-left"><p>What kind of native Australian animal is this?</p></div>
								</div>

								<p>
									<div class=" btn btn-default btn-lg sr-button active"> Wombat </div>
									<div class=" btn btn-default btn-lg sr-button active"> Koala </div>
								</p>
								<p>
									<div class=" btn btn-default btn-lg sr-button active"> Dingo </div>
									<div class=" btn btn-default btn-lg sr-button active"> Emu </div>
								</p>
								<br>